body{
    font-family: initial;
    color: rgb(174, 174, 252);
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background-color: rgb(174, 174, 252);
    color: aliceblue;
    padding: 20px 0 ;
    text-align: center;
}

section{
    padding: 20px;
}


img{
    width: 150px;
    border-radius: 15px;
    display: flex;
    margin: auto; }
 

footer{
    background-color: rgb(174, 174, 252);
    color: aliceblue;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
 }